{
  "*.{mjs,js,jsx}": [
    "npx prettier --write '*.{mjs,js,jsx}'",
    "npx eslint '*.{mjs,js,jsx}' --fix",
    "node scripts/lint.js --js --fix --only --",
    "npx standard \"*.{mjs,js,jsx}\" --fix"
  ],
  "{!*.d.ts, *.{mts,ts,tsx}}": [
    "npx prettier --write '*.{mts,ts,tsx}'",
    "npx eslint '*.{mts,ts,tsx}' --fix",
    "npx ts-standard \"*.{mts,ts,tsx}\" --fix"
  ],
  "*.d.ts": ["npx prettier --write '**/*.d.ts'"],
  "{!CHANGELOG.md, *.md}": [
    "npx textlint *.md --fix",
    "npx markdownlint-cli2 '!{CHANGELOG.md,node_modules/**,out/**}' '*.{md,mdown,markdown}' --fix"
  ],
  "*.{gn,gni}": ["npm run gn-check", "npm run gn-format"],
  "*.{png,jpeg,jpg,gif,svg}": "imagemin-lint-staged",
  "*.css": ["stylelint --fix", "prettier --write '*.css'"],
  "{*.patch,.patches}": [
    "node scripts/lint.js --patches --only --",
    "ts-node scripts/js/check-patch-diff.ts"
  ],
  "*.{yml,yaml}": "npx prettier '*.{yml,yaml}' --write",
  "*.json": "npx eslint '*.json' --fix"
}
