{
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "singleQuote": true,
    "endOfLine": "crlf",
    "trailingComma": "none",
    "semi": false,
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "parser": "markdown"
            }
        }
    ]
}
