astroid==3.3.5
asttokens==2.4.1
attrs==24.2.0
backcall==0.2.0
beautifulsoup4==4.12.3
black==24.8.0
bleach==6.2.0
build==1.2.2.post1
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.9
docopt==0.6.2
executing==2.1.0
fastjsonschema==2.20.0
flake8==7.1.1
idna==3.10
ipython==8.12.3
isort==5.13.2
jedi==0.19.2
Jinja2==3.1.5
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
lib==4.0.0
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mistune==3.0.2
mypy==1.13.0
mypy-extensions==1.0.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
packaging==24.2
pandocfilters==1.5.1
parso==0.8.4
pathspec==0.12.1
pickleshare==0.7.5
pip-tools==7.4.1
pipreqs==0.5.0; platform_system == "Windows"
platformdirs==4.3.6
prompt_toolkit==3.0.48
pure_eval==0.2.3
pycodestyle==2.12.1
pyflakes==3.2.0
Pygments==2.18.0
pyink==24.10.0
pylint==3.3.1
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
pywin32==308; platform_system == "Windows"
PyYAML==6.0.2
pyzmq==26.2.0
referencing==0.35.1
requests==2.32.3
rpds-py==0.21.0
ruff==0.8.0
setuptools==75.6.0
six==1.16.0
soupsieve==2.6
stack-data==0.6.3
tinycss2==1.4.0
tomlkit==0.13.2
tornado==6.4.2
traitlets==5.14.3
types-PyYAML==6.0.12.20240917
typing_extensions==4.12.2
urllib3==2.2.3
wcwidth==0.2.13
webencodings==0.5.1
wheel==0.45.1
yarg==0.1.9
