name: CI Workflow (Skip duplicates)

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
 pre_job:
   runs-on: ubuntu-latest
   outputs:
     should_skip: ${{ steps.skip_check.outputs.should_skip }}
   steps:
     - id: skip_check
       uses: fkirc/skip-duplicate-actions@v5.3.1
       with:
         skip_after_successful_duplicate: 'true'
 main_job:
   needs: pre_job
   if: ${{ needs.pre_job.outputs.should_skip != 'true' }}
   runs-on: ubuntu-latest
   steps:
     - run: echo "Running slow tests..." && sleep 30
