# More about it:
# https://github.com/trufflesecurity/trufflehog#octocat-trufflehog-github-action
name: 'Trufflehog OSS'
on:
  push:
    branches:
      - main
  pull_request:
    
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Secrets scanning
        uses: trufflesecurity/trufflehog@main
        with:
          extra_args: --only-verified
